@import "tailwindcss";

@theme{
    --color-fg: #0000FF
}
@theme {
    --animate-slide-and-change-color: slideAndChangeColor 2s ease-in-out alternate;
    @keyframes slideAndChangeColor {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
}

@theme {
    --animate-slide-in: slideIn .5s ease-in-out alternate;
    @keyframes slideIn {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    --animate-slide-out: slideOut .5s ease-in-out alternate;
    @keyframes slideOut {
        0% {
            width: 100%;
        }
        100% {
            width: 0%;
        }
    }
}
